* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0px;
    overflow: auto;
    top: 0px;
    background-color: bisque;
}

#jumbotron{
    width: 784px;
    height: 200px;
    background: url(https://assets3.thrillist.com/v1/image/2813543/size/gn-gift_guide_variable_c.jpg);
    background-size: cover;
}

.kolom1{
    position: relative;
    float: left;
    height: auto;
    background-color: bisque;
    width: 200px;
    padding: 10px;
}

.kolom2{
    position: relative;
    float: left;
    height: auto;
    background-color: azure;
    width: 584px;
    padding: 20px;
}